html, body {
    margin: 30px;
    padding: 10;
    background-color: rgb(Black);
  }
  
  canvas {
    display: block;
    filter: drop-shadow(12px 12px 50px rgb(960, 680, 155));
    border-radius: 10px;
  }
  
